body {
  background-color: #f8f8f8;
}

.upper {
  background: url("../assets/upper.jpg") top left / 100% no-repeat;
  height: inherit;
  content: "";
  position: absolute;
  z-index: -2;
  width: 90%;

  @media (min-width: 961px) {
    width: 47%;
  }
}

.lower {
  background: url("../assets/lower.jpg") bottom right / 100% no-repeat;
  bottom: 0;
  display: block;
  right: 0;
  height: inherit;
  position: absolute;
  z-index: -2;
  width: 50%;

  @media (min-width: 961px) {
    width: 30%;
  }
}
