body {
  background-color: #f8f8f8;
}

.upper {
  background: url("../assets/upper.jpg") top left / 100% no-repeat;
  aspect-ratio: 1;
  content: "";
  // position: absolute;
  z-index: -2;
  width: 70%;

  @media (min-width: 961px) {
    width: 45%;
  }
}

.lower {
  background: url("../assets/lower.jpg") bottom right / 100% no-repeat;
  bottom: 0;
  display: block;
  right: 0;
  aspect-ratio: 1;
  // position: absolute;
  z-index: -2;
  width: 40%;

  @media (min-width: 961px) {
    width: 30%;
  }
}
