.scrolling-image-container {
  overflow: hidden;
  position: absolute;
  opacity: 0.2;
  width: 100%;
}

.scrolling-image {
  background: url("../assets/video.png") repeat-x;
  height: 750px;
  width: 3480px;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1740px); /* The image width */
  }
}
