.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 100px);
  padding-top: 100px;
}

.home-container > h1 {
  font-family: "Bad Script", cursive;
  color: rgb(93, 91, 76);
  font-size: 60px;
}

.home-container > p {
  font-family: "Bad Script", cursive;
  font-size: 40px;
  color: rgb(97, 95, 79);
}

.first-heading {
  margin: 0 0 0 60%;
}

.second-heading {
  margin: 0 0 0 40%;
}

.location {
  margin: 0 10% 0 20%;
}

.date {
  margin: 0 5% 0 5%;
  width: 25%;
}

.our-image {
  position: absolute;
  bottom: 15px;
  height: 250px;
  align-self: center;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 0px rgb(93 91 76);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  opacity: 0.5;
}
