.home-container {
  font-family: "Bad Script", cursive;
  color: #5d5b4c;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  padding-top: 60px;
  overflow: hidden;
  text-align: center;
  justify-content: center;

  @media (max-width: 320px) {
    padding-top: 10px;
  }
  @media (min-width: 961px) {
    justify-content: space-around;
    text-align: start;
  }

  @media screen and (min-width: 380px) and (max-width: 920px) and (orientation: landscape) {
    padding-top: 20px;
  }

  .first-heading {
    font-size: 2rem;
    margin: 0;

    @media (min-width: 961px) {
      margin: 0 0 0 60%;
      font-size: 60px;
    }

    @media screen and (min-width: 320px) and (max-width: 800px) and (orientation: landscape) {
      font-size: 1.5rem;
    }
  }

  .second-heading {
    font-size: 2.5rem;
    margin: 10px 0 50px 0;
    @media (min-width: 961px) {
      margin: 0 0 0 40%;
      font-size: 60px;
    }
    @media (max-width: 320px) {
      font-size: 2.3rem;
      margin: 10px 0 2px 0;
    }

    @media screen and (min-width: 320px) and (max-width: 800px) and (orientation: landscape) {
      font-size: 1.8rem;
      margin: 0 0 20px 0;
    }

    @media screen and (min-width: 380px) and (max-width: 920px) and (orientation: landscape) {
      font-size: 1.5rem;
      margin: 0 0 35px 0;
    }
  }

  .location {
    font-size: 1.5rem;
    margin: 0;
    @media (min-width: 961px) {
      margin: 0 10% 0 20%;
      font-size: 40px;
    }
  }

  .date {
    width: auto;
    font-size: 1.5rem;
    margin: 0;

    @media (min-width: 961px) {
      margin: 0 5% 0 5%;
      width: 25%;
      font-size: 40px;
    }
  }

  .our-image {
    position: absolute;
    bottom: 10%;
    height: 130px;
    align-self: center;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0px rgb(93 91 76);
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(92, 92, 32));

    @media (max-width: 376px) {
      bottom: 1%;
    }

    @media (min-width: 961px) {
      height: 220px;
    }

    @media screen and (min-width: 320px) and (max-width: 800px) and (orientation: landscape) {
      height: 80px;
      bottom: 6%;
    }

    @media screen and (min-width: 380px) and (max-width: 920px) and (orientation: landscape) {
      bottom: 4%;
    }
  }
}
