.invite-container {
  height: calc(100% - 100px);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;

  .invite-text {
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
    padding: 20px;
    line-height: 40px;
    @media (min-width: 961px) {
      padding: 0 0 20px;
      line-height: 45px;
    }
  }

  .invite-form {
    width: 90%;
    z-index: 200;
  }

  .invite-input {
    width: calc(100% - 135px);
    margin-right: 20px;
    border: none;
    background-color: #eadfe5;
    border-radius: 15px;
    height: 35px;
    padding-left: 10px;
  }

  .invite-button {
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: #aaa1a6;
    cursor: pointer;
    padding: 10px;

    &:hover {
      background-color: #887e83;
      color: #cacaca;
    }
  }

  @media (min-width: 641px) {
    width: 40%;
  }
}
