nav {
  display: flex;
  justify-content: end;
}

.nav-links {
  margin: 45px 10px 20px 0px;
}

nav > .nav-links > a {
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px;
  color: black;
  padding: 2px;
}
