.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  img {
    width: 60%;
  }

  @media (min-width: 961px) {
    img {
      width: 25%;
    }
  }
}
