.icons {
  width: 50px;
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(40, 6, 27));
  @media (max-width: 320px) {
    width: 40px;
  }
}

.planpage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;

  padding-top: 70px;
  max-height: calc(100% - 70px);

  .plan-container {
    height: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffffffa6;
    padding: 8px;
    margin: 8px;
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow: auto;

    .plan-header {
      font-size: 25px;
      letter-spacing: 2.5px;
      margin: 0;

      @media (min-width: 961px) {
        margin: 25px 0 10px 75%;
      }
    }

    .wedding-plan {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;

        span {
          padding: 15px;
        }

        span:last-child {
          letter-spacing: 1px;
          width: 100%;
          margin-left: 0;
        }
      }

      .plan-text {
        padding-left: 0;
        font-size: 18px;
        @media (max-width: 320px) {
          font-size: 12px;
        }
      }

      .time {
        font-size: 23px;
        font-weight: bold;
        margin-left: 5px;
        @media (max-width: 320px) {
          font-size: 15px;
        }
      }

      .ritual {
        margin: 0;

        @media (min-width: 961px) {
          margin: 0 0 0 59%;
        }
      }

      .ritual > span {
        padding-top: 16px;
      }

      .photo-session {
        margin: 0;

        @media (min-width: 961px) {
          margin: 0 0 0 53.5%;
        }
      }

      .church-ritual {
        margin: 0;

        @media (min-width: 961px) {
          margin: 0 0 0 48%;
        }
      }

      .church-ritual > span {
        padding-top: 11px;
      }

      .restaurant {
        margin: 0;

        @media (min-width: 961px) {
          margin: 0 0 0 43%;
        }
      }

      .party {
        margin: 0;

        @media (min-width: 961px) {
          margin: 0 0 0 38%;
        }
      }

      .party > img:first-child {
        padding-right: 20px;
      }
    }

    @media (min-width: 961px) {
      text-align: start;
      background: none;
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  @media (min-width: 961px) {
    padding-top: 100px;
    max-height: calc(100% - 100px);
  }
}
