.locations-container {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 5%;
  background: #ffffffa6;
  padding: 8px;
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 8px;

  .locations-header {
    font-size: 25px;
    letter-spacing: 2.5px;
    margin: 0 0 0 2.5%;
  }

  @media (min-width: 961px) {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.wedding-locations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;

  .location-1 {
    margin: 20px 0 0;
    @media (min-width: 961px) {
      margin: 20px 0 0 4%;
    }
  }

  .location-2 {
    margin: 10px 0 0;
    @media (min-width: 961px) {
      margin: 10px 0 0 5%;
    }
  }

  .location-3 {
    margin: 10px 0 0;
    @media (min-width: 961px) {
      margin: 10px 0 0 6%;
    }
  }

  .location-link {
    display: inline-block;
    margin-left: 5px;
    color: #604a4a;
    text-decoration: none;
  }
}
