.icons {
  width: 50px;
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(40, 6, 27));
}

.planpage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;

  padding-top: 70px;
  max-height: calc(100% - 70px);

  @media (min-width: 961px) {
    padding-top: 100px;
    max-height: calc(100% - 100px);
  }
}

.plan-container {
  height: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(255, 255, 255, 0.65);
  padding: 8px;
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow: auto;

  @media (min-width: 961px) {
    text-align: start;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.plan-container > span {
  font-size: 25px;
  letter-spacing: 2.5px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  @media (min-width: 961px) {
    margin: 25px 0 10px 75%;
  }
}

.wedding-plan {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.wedding-plan > div {
  display: flex;
  align-items: center;
}

.wedding-plan > div > span {
  padding: 10px;
}

.wedding-plan > div > span:last-child {
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin-left: 0;

  @media (min-width: 961px) {
    margin-left: 10px;
  }
}

.time {
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
}

.ritual {
  margin: 0;

  @media (min-width: 961px) {
    margin: 0 0 0 60%;
  }
}

.ritual > span {
  padding-top: 16px;
}

.photo-session {
  margin: 0;

  @media (min-width: 961px) {
    margin: 0 0 0 55%;
  }
}

.church-ritual {
  margin: 0;

  @media (min-width: 961px) {
    margin: 0 0 0 50%;
  }
}

.church-ritual > span {
  padding-top: 11px;
}

.restaurant {
  margin: 0;

  @media (min-width: 961px) {
    margin: 0 0 0 45%;
  }
}

.party {
  margin: 0;

  @media (min-width: 961px) {
    margin: 0 0 0 40%;
  }
}

.party > img:first-child {
  padding-right: 18px;
}
